@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  background-color: rgb(249 250 251); /* bg-gray-50 */
  color: rgb(17 24 39); /* text-gray-900 */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  color: inherit;
  min-height: 100vh;
}
